.features_third{
  background-color: $blueBg;
  padding-top: 64px;

}

.features_third_inner{
  position: relative;
}

.features_third-title{
  text-align: center;
  padding-bottom: 31px;
}

.features_third-main{
  display: flex;
}

.features_third-main-textColumn{
  padding-top: 24px;

}

.features_third_item{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.features_third_item-number{
  background-color: $yellowBg;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  letter-spacing: -0.03em;
  font-family: 'inter-bold';
  margin-right: 16px;
  flex-shrink: 0;
}

.features_third_item-descr{
  font-size: 20px;
  line-height: 140%;
}

.features_third-replica{
  position: absolute;
  right: 250px;
  top: 270px;
  animation: roteto3 3s infinite ;
}

.features_third-title-mob{
  display: none;
}

.features_third-imgs-chicken{
  position: absolute;
  bottom: 50px;
  left: 10px
}

.features_third-imgs-salmon{
  position: absolute;
  bottom: 40px;
  left: 40%;
  transform: rotate(55deg);
}

.features_third-imgs-schrimp{
  position: absolute;
  bottom:40%;
  left: 40%
}

.features_third-imgs-logo{
  position: absolute;
  top:30px;
  left: 0
}

//================1360px====================//
@media (max-width: 1360px) {
  .features_third-title-mob{
    display: block;
    text-align: center;
  }

  .features_third-title{
    display: none;
  }
  .features_third-replica{
    display: none;
  }

}

//================1100px====================//
@media (max-width: 1100px) {
  .features_third-imgs-chicken{
   display: none;
  }
  
  .features_third-imgs-salmon{
   display: none;
  }
  
  .features_third-imgs-schrimp{
   display: none;
  }

  .features_third-imgs-logo{
    display: none;
  }

  .features_third-main-imgColumn{
    display: none;
  }

  .features_third_inner{
    padding-bottom: 60px;
  }

}



