.business{
  background-color: $orange;
  padding-top: 200px;
  height: 1024px;
  position: relative;
}

.business-title{
  font-size: 56px;
  color: #fff;
  font-family: 'inter-Black';
  margin-bottom: 5px;
  text-transform: capitalize;
}

.business-descr{
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  width: 45%;
}

.business-img-cat{
  position: absolute;
  right: 0;
  bottom: 0;
}

.business-img-tastes{
  position: absolute;
  top: 85px;
  right: 330px;
}

.business-img-logo{
  position: absolute;
  bottom: 290px;
  left: 160px
}

.business-img-eyes{
  position: absolute;
  right: 260px;
  top: 513px;
}

.business-salmon{
  position: absolute;
  bottom: 50px;
  left: 30%
}

.business-chicken{
  position: absolute;
  left: 10%;
  top: 45%
}

.buisiness-shrimp{
  position: absolute;
  left: 48%;
  top: 50%;
}