.main-reviews {
  background-color: $blueBg;
  padding-top: 60px;
}

.main-reviews-title {
  text-align: center;
  font-size: 56px;
  line-height: 107%;
  margin-bottom: 52px;
  font-family: 'inter-Black';
  margin-bottom: 52px;
  text-transform: capitalize;
}

.main-reviews-reviews {
  display: flex;
  justify-content: space-between;
}

.main-reviews-tastes-column {
  width: 49%;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.main-reviews-reviews-column {
  flex-basis: 49%;
  flex-shrink: 0;
}

.main-reviews-slider-tasts-item {
  .tastes_slider-item-inner {
    box-shadow: none;
  }
}

.slick-slide .main-reviews-slider-tasts-item .tastes_slider-item-inner::after{
  display: none;
}

.main-reviews-tastes-column{
  padding: 13px 32px 40px 32px;
}

.main-tastes-slider-item-img{
  position: relative;
  margin-bottom: 38px;
  padding-top: 20px;
  height: 243px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.icon-info{
  position: absolute;
  width: 161px;
  height: 95px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  img{
    object-fit: contain;
  }
}

.main-tastes-slider-item-info{
  display: flex;
  margin-bottom: 19px;
  align-items: baseline;
}

.main-tastes-slider-item-info-for{
  color: #585858;
  margin-right: 8px;
}

.main-tastes-slider-item-info-weight{
  font-size: 14px;
  font-family: 'inter-bold';
}

.main-tastes-slider-item-descr{
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 32px;

  span {
    font-family: 'inter-bold';
  }
}