.main-reviews {
  background-color: $blueBg;
  padding-top: 60px;


}

.main-reviews_inner {
  position: relative;
  padding-bottom: 109px;
}

.main-reviews-title {
  text-align: center;
  font-size: 56px;
  line-height: 107%;
  font-family: "inter-Black";
  text-transform: capitalize;
  width: 85%;
  margin: 0px auto;
  margin-bottom: 52px;
}

.main-tastes-name {
  font-size: 26px;
  font-family: 'inter-bold';
  margin-bottom: 8px;
}

.main-reviews-reviews {
  display: flex;
  justify-content: space-between;
}

.main-reviews-tastes-column {
  width: 49%;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.main-reviews-reviews-column {
  flex-basis: 49%;
  flex-shrink: 0;
}


.main-reviews-tastes-column {
  padding: 13px 32px 40px 32px;
  margin-right: 24px;
}

.main-tastes-slider-item-img {
  position: relative;
  margin-bottom: 38px;
  padding-top: 20px;
  height: 243px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-tastes-slider {
  position: relative;
  z-index: 69;

  .slick-dots {
    position: absolute;
    top: 43%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);

    li {
      flex-shrink: 0;
      padding-left: 4px;
      padding-right: 4px;
    }

    button {
      font-size: 0px;
      width: 8px;
      height: 8px;
      border: none;
      background-color: #EBEBEB;
      border-radius: 50%;
      padding: 0px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .slick-active {
      button {
        width: 12px;
        height: 12px;
        background-color: $green;
      }
    }
  }
}

.icon-info {
  position: absolute;
  width: 161px;
  height: 95px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  img {
    object-fit: contain;
  }
}

.main-tastes-slider-item-info {
  display: flex;
  margin-bottom: 19px;
  align-items: baseline;
}

.main-tastes-slider-item-info-for {
  color: #585858;
  margin-right: 12px;
}

.main-tastes-slider-item-info-weight {
  font-size: 14px;
  font-family: "inter-bold";
}

.main-tastes-slider-item-descr {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 32px;

  span {
    font-family: "inter-bold";
  }
}

.reviews-slider-arrows {
  position: absolute;
  top: 22%;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 70;
}

.slider-arrows__right.reviews-slider-arrows {
  right: 0;
}

.slider-arrows__left.reviews-slider-arrows {
  left: 0;
}

.slick-disabled {
  .reviews-slider-arrows {
    cursor: default;
    opacity: 0.3;
  }
}

.main-tastes-slider-item {
  padding-left: 5px;
  padding-right: 5px;
}


.main-reviews-reviews-slider-item_inner {
  display: flex;
  align-items: flex-end;
}

.main-reviews-reviews-title {
  font-size: 20px;
  font-family: 'inter-semi-bold';
  margin-bottom: 20px;
}

.main-reviews-reviews_avatar {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.main-reviews-reviews {
  padding-bottom: 80px;
}

.main-reviews-reviews_replica-mob {
  display: none !important;
}


.main-reviews-form-form {
  background-color: #fff;
  border-radius: 20px;
  padding: 36px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.main-reviews-form-left {
  flex-basis: 49%;
}

.main-reviews-form-right {
  flex-basis: 49%;
}

.main-reviews-form-title {
  font-size: 32px;
  letter-spacing: -0.03em;
  font-family: 'inter-bold';
  margin-bottom: 10px;
}

.main-reviews-form-descr {
  font-size: 20px;
  line-height: 148%;
  margin-bottom: 24px;
}

.main-reviews-form-avatars {
  display: flex;
  margin-bottom: 16px;
}

.main-reviews-form-avatar-item {
  border-radius: 50%;
  overflow: hidden;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid #CECECE;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-reviews-form-avatar-item-active {
  border: 3px solid #FFC115;
}

.reviews-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews-form::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7) url('../images/loader.gif') center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.reviews-form._sending::after{
  opacity: 1;
  visibility: visible;
}

.form-input {
  border: 1px solid transparent;
  background-color: #F4F4F4;
  border-radius: 15px;
  padding: 16px 24px;
  resize: none;
  font-size: 20px;
  line-height: 140%;
  width: 100%;
}

.form-input_helper{
  margin-bottom: 14px;
  padding-left: 8px;
  font-size: 12px;
  color: red;
  opacity: 0;
}

._error-helper{
  .form-input_helper{
    opacity: 1;
  }
}


.form-input._error{
  border: 1px solid red;
}

.form-input:focus {
  border: 1px solid #CECECE;
  outline: transparent;
}

.form-input._error:focus{
  border: 1px solid red;
}

.form-input:focus-visible {
  border: 1px solid #CECECE;
  outline: transparent;
}

.form-input._error:focus-visible {
  border: 1px solid red;
  outline: transparent;
}


.form-input::placeholder {
  color: #8C8C8C;
  font-size: 20px;
  line-height: 140%;
}

.big-cat {
  position: absolute;
  bottom: 0;
  left: -70px;
}

.big-cat-replica {
  position: absolute;
  bottom: 250px;
  left: 250px;
  animation: roteto2 3s infinite;
}




//===================1230px====================//


@media (max-width: 1230px) {
  .main-reviews-tastes-column {
    display: none;
  }

  .main-reviews-reviews-column {
    flex-basis: 100%;
  }

  .big-cat {
    display: none;
  }

  .big-cat-replica {
    display: none;
  }
}


//======================970px==========================//

@media (max-width: 970px) {
  .main-reviews-title {
    font-size: 28px;
    width: 100%;
    width: 85%;
    margin-bottom: 36px;
  }

  .main-reviews-form-left {
    img {
      display: none;
    }
  }

  .main-reviews-form-form {
    flex-direction: column;

  }
}


//=========================600px==============================//

@media (max-width: 600px) {
  .main-reviews {
    padding-top: 40px;
  }

  .main-reviews-reviews {
    padding-bottom: 40px;
  }

  .main-reviews-reviews-title {
    display: none;
  }

  .main-reviews-reviews_avatar {
    width: 40px;
    height: 40px;
  }

  .main-reviews-reviews_replica-mob {
    display: block !important;
  }

  .main-reviews-reviews_replica-deck {
    display: none !important;
  }
  .main-reviews-form-form{
    background-color: transparent;
    padding: 0;
    textarea{
      margin-bottom: 16px;
    }
  }

  .main-reviews-form-title{
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-family: 'inter-medium';
    margin-bottom: 4px;
  }

  .main-reviews-form-descr{
    font-size: 14px;
    line-height: 157%;
    margin-bottom: 24px;
  }

  .main-reviews-form-avatar-item{
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .form-input{
    margin-bottom: 8px;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 152%;
    
    }
    .form-input::placeholder{
      font-size: 16px;
      line-height: 152%;
    }

}


//===============================410px==========================//

@media (max-width: 410px) {
  .main-reviews-reviews_replica-mob {
    margin-left: -11px;
  }

  .main-reviews-reviews_avatar {
    width: 32px;
    height: 32px;
  }

  .main-reviews-title {
    width: 100%;
  }
}

//=================================370px========================//


@media (max-width: 370px) {
  .main-reviews-reviews-slider {
    margin-left: -20px;
  }
}