.reviews{
  background-color: #F0563A;
  position: relative;
  padding-top: 49px;
  padding-bottom: 27px;
}

.reviews-cat{
  position: absolute;
  bottom: -4px;
  left: 4px;
  z-index: 30;
}

.reviews-cat-replica{
  position: absolute;
  z-index: 31;
  top: 0px;
  left: 100px;
  animation: roteto2 4s infinite;
}

.slider_item-inner{
  display: flex;
}

.slider_item-info{
  text-align: center;
  margin-right: -13px;
}

.slider_item-info-cat{
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_item-info-name{
  color: #fff;
}

@keyframes roteto2 {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
  50% {
    transform: rotate(-15deg);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
}


@media (max-width: 770px) {
  .reviews-cat{
    display: none;
  }

  .reviews-cat-replica{
   display: none;
  }
}